
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Bai Jamjuree", sans-serif;
}

#wrapper {
  width: auto;
  height: auto;
}
#header .logo img {
  width: 80%;
  height: auto;
  margin-left: 50px;
}

#header {
  padding: 0px 80px;
  margin-top: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu {
  list-style: none;
  display: flex;
}

#menu .item {
  font-size: 13px;
  margin: 0px 8px;
}

#menu .item a {
  color: #0d0e0d;
  text-decoration: none;
}

#action {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
}

#action .item {
  display: flex;
  margin-left: 10px;
  margin: 0px 12px;
  margin-right: 10px;
}

#action .item:last-child {
  margin-right: 0; 
}
#action .item button {
  color: white;
  width: 130px;
  height: 40px;
  background-color: #2e3192;
  font-size: 14px;
  border-radius: 30px;
}

#menu .item a:hover {
  background-color: #dadada;
  border-radius: 10px; 
  padding: 10px 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow for a more pronounced effect */
  transform: scale(1.05); /* Optional: Slightly enlarges the element on hover */
  transition: all 0.3s ease; /* Smooth transition for the hover effect */
}


#banner {
  width: auto;
  background-image: url("images/background.jpg");
  height: 601px;
  margin-top: 40px;
  display: flex;
  padding: 0px;
  background-size: cover;
  position: relative;
  text-align: center;
}

#banner .item {
  color: white;
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%;
  background-image: linear-gradient(to bottom, transparent, #c5564f);

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

#banner .button1 {
  margin-top: 30px;
  width: 220px;
  padding: 10px;
  font-size: 15;
  font-family: Bai Jamjuree;
  background-color: #2e3192;
  font-size: 16px;
  color: aliceblue;
  border-radius: 6px;
}
h2 {
  font-size: 31px;
  margin-top: 100px;
  color: blue;
  position: relative;
  margin-left: 50px;
  padding: 20px;
}

h2::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 28px;
  background-color: #2e3192;
  margin-right: 10px;
}

#first {
  margin-top: 40px;
  display: flex;
  gap: 40px;
  padding-right: 50px;
  padding-left: 50px;
  
}

#first.item {
  flex: 1;
  display: flex;
  justify-content: space-between;
  text-align: left;
}
#first .item img {
  width: 780px;
  height: 480px;
  
}

#first .item-text {
  margin-left: 20px;
  font-size: 15px;
  text-align:justify;
}

#first .item button {
  margin-top: 90px;
  font-family: Bai Jamjuree;
  background-color: #2e3192;
  width: 140px ;
  height: 40px;
  font-size: 16px;
  color: aliceblue;
  border-radius: 6px;
  margin-left: 20px;
  
}

#background {
  width: 100%;
  background-image: url("images/Background2.png");
  height: 463px;
  margin-top: 40px;
  display: flex;
  position: relative;
}

.box-left,
.box-right {
  height: 100%;
}

.box-left {
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.box-left img {
  width: 500px;
}

.box-right {
  padding-left: 750px;
  padding-right: 50px;
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

/* #background .box-right img {
  width: 200px;
  height: auto;
} */

.box-right-item {
  display: flex;
  flex-direction: column;

  flex: 1;
  /* flex-basis: 250px; */
  row-gap: 30px;
}

.box-right-item > div {
  padding: 6px 12px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-size: cover;
  width: 170px;
  height: 150px;

  /* height: ; */
}

.box-right-item > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.anh3 {
  width: 300px;
  height: auto;
}

.box-right-text {
  font-size: 32px;
  font-family: Bai Jamjuree;
  color: white;
  text-align: center;
}

h3 {
  font-size: 31px;
  margin-top: 100px;
  color: blue;
  position: relative;
  margin-left: 50px;
  padding: 20px;
}

h3::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 28px;
  background-color: #2e3192;
  margin-right: 10px;
}


#third{
  display: flex;
  position: relative;
  padding-right: 50px;
  padding-left: 50px;
  flex: 1;
  
}

#third .item img {
  margin-top: 30px;
  width: 100%;
  height: auto;
  padding-right: 50px;
  padding-left: 50px;
 
}

#four {
  display: flex;
  position: relative;
  padding-right: 50px;
  padding-left: 50px;
  
  
}

#box .item {
  display: flex;
}

#four .item img {
  margin-top: 30px;
  width: 100%;
  height: auto;
  padding-right: 50px;
  padding-left: 50px;
}
#four .item {
  position: relative;
  display: flex;
  
}

#four .video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
}

#fifth {
  margin-top: 100px;
  display: flex;
  gap: 81px; 
  
}
#fifth .item h4,
#fifth .item p,
#fifth .item button,
#fifth .item hr {
    margin-left: 70px;
}

#fifth .item hr {
  border: 0; 
  height: 2px; 
  background-color: blue; 
  width: 74%; /* Độ rộng của đường */
}


#fifth .item h4{
  font-size: 32px;
  margin-top: 100px;
  color: blue;
  position: relative;
  margin-left: 50px;
  padding: 20px;
}

#fifth .item p{
  font-size: 17px;
  margin-top:50px;
  
}


#fifth .item img {
  width: 812px;
  height: 450px;
  padding-right: 10px;
  
}



#fifth .item button {
  margin-top: 40px;
  width: 90px;
  font-family: Bai Jamjuree;
  background-color: #2e3192;
  font-size: 16px;
  color: aliceblue;
  border-radius: 6px;
  
}

#footer {
  background: #144e8c;
  height: 353px;
  margin-top: 138px;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  flex: 1;
  
}

#footer .box {
  width: 440px;
  color: #fff;
  margin-top: 10px;
  margin-left: 20px;
  padding: 0px 30px;
}

#footer .box .quick-menu {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}

#footer .box .quick-menu .item {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 12px;
}

#footer .box .quick-menu .item a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

#footer .box .quick-menu .item img {
  margin-right: 8px;
  width: 20px; 
  height: 20px; 
}

.p-container {
  display: flex;
  align-items: center;
}

.p-container img {
  margin-right: 10px;
}

.item_input {
  margin-top: 10px;
}

.item_input input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  margin-top: 10px;
  width: 230px;
}

.item_input input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.now {
  background: white;
  box-shadow: 5px 5px 4px rgba(0, 0, 0.25);
  font-family: Anek Latin;
  font-size: 18px;
  width: 200px;
  height: 38px;
  margin-top: 19px;

  color: #144e8c;

  border-radius: 10px;
  font-weight: bold;
}

h4 {
  font-size: 19px;
}

.logo {
  margin-top: 10px;
}
