@import url(main.css);

#banner {
  margin-top: 50px;
  display: flex;
  background-color: #2E3192;
  width: 100%;
  height: auto;
  gap: 10px;
  padding: 40px 50px;
  flex-wrap: wrap;
  position: relative;
}



.box-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 20px 40px;
}

.box-left img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.box-left h1 {
  color: #dadada;
  font-size: 30px;
  margin: 20px 0;
}

.box-left p {
  color: #dadada;
  font-size: 14px;
  text-align:left;
  line-height: 1.6;
}

.box-right {
  width: 48%;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 20px;
  padding: 20px 0px;
}

.box-right .item {
  display: flex;
  gap: 30px;
}

.box-right .item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.box-right .item h2 {
  color: #dadada;
  font-size: 18px;
  
  
}

.box-right .item p {
  color: #dadada;
  font-size: 14px;
  line-height: 20px;
  text-align:justify;
  margin: 20px 0;
}



h3 {
  font-size: 44px;
  color: #2E3192;
  margin-top: 50px;
  text-align: center;
}


#new {
  margin-top: 30px;
  display: flex;
  width: 100%;
  height: auto;
  gap: 10px;
  padding: 40px 50px;
  flex-wrap: wrap;
}


.news-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex: 1;
  max-width: 100%;
  gap: 60px;
  padding: 0 60px;
}

.news-container .item {
  display: flex;
  gap: 30px;
  flex: 1;
}

.news-container .item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}


.news-container .item h4 {
  font-size: 18px;
  color: #2E3192;
}

.news-container .item p {
  font-size: 14px;
  color: #333;
  line-height: 20px;
  margin: 20px 0;
}

.pagination {
  display: flex;
  margin-top: 20px;
  align-items: end;
  text-align: right;
  margin-left: 450px;
  
}

.pagination a, .pagination span {
  color: black;
  float: right;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: none;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #DADADA;
  color: white;
  border: 1px solid #DADADA;
  border-radius: 4px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 4px;
}

/* .pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  margin: 0 5px;
  text-decoration: none;
  color: #2E3192;
}

.pagination a.active {
  font-weight: bold;
} */


#footer {
  background: #2E3192;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 40px;
  margin-top: 40px;
  
}

.box1 , .box2, .box3{
  margin: 50px 10px;
}

.divider {
  border-left: 1px solid #ccc;
  height: 300px; 
}


#footer .box1 {
  width: 30%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.box1 .logo1 p {
  font-size: 12px;
  color: #dadada;
  margin-top: 40px;
}


#footer .box2 {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#footer .box3{
  display: flex;
  justify-content: center;
  align-items: center;
}


#footer .box2 .quick-menu,
#footer .box3 .quick-menu {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  
}

#footer .box2 .quick-menu .item,
#footer .box3 .quick-menu .item {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 12px;
}

#footer .box2 .quick-menu .item a,
#footer .box3 .quick-menu .item a{
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

#footer .box2 .quick-menu .item img,
#footer .box3 .quick-menu .item img {
  margin-right: 8px;
  width: 20px; 
  height: 20px; 
}

.now {
  background: white;
  box-shadow: 5px 5px 4px rgba(0, 0, 0.25);
  font-family: Anek Latin;
  font-size: 15px;
  width: 150px;
  height: 35px;
  margin-top: 5px;
  color: #144e8c;
  border-radius: 10px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  color: white;
}

.logo {
  margin-top: 10px;
}
