@import url(main.css);

#content{
    display: flex;
    margin-top: 50px;
}


.content-main{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    padding: 50px 50px;
    /* border: 0.1px solid #ccc;
    border-bottom: none;
    border-right: none; */
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); /* Tạo hiệu ứng viền mờ */
    
}

h2, h1{
    color: #2E3192;
    font-size: 30px;
    line-height: 40px;
}

.mt{
    color: #2E3192;
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    
}

.dc{
    color: #393939;
    font-size: 14px;
    line-height: 20px;
}

.news{
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 100%;
    padding: 70px 30px;
    gap: 40px;
    /* border: 0.1px solid #ccc;
    border-bottom: none; */
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); /* Tạo hiệu ứng viền mờ */
    
}


.ad {
    width: 100%;
    height: auto;
    display: flex;
    
    gap: 20px;
}

.ad img {
    width: 180px;
    height: auto;
    border-radius: 10px;
}









#footer {
    background: #2E3192;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 40px;
    margin-top: 40px;
    
  }
  
  .box1 , .box2, .box3{
    margin: 50px 10px;
  }
  
  .divider {
    border-left: 1px solid #ccc;
    height: 300px; 
  }
  
  
 
  