@import url(main.css);

#header-mb {
    display: none;
  }

#banner {
    display: flex;
    margin-top: 25px;
  }

#banner img{
    
    width: 100%;
    height: auto;
}

.content {
    display: flex;
}

.content-main {
    background-color: #f5f5f5f5 ;
    flex: 1;
}

#section 
{
        width: 25%;
        border-right: 3px solid #ccc;
        
}
ul {
    list-style-type: none; 
  }
  
#section p{
    display: flex;
    padding: 50px 70px;
    font-size: 20px;
    color: #2E3192;
    
}      

#section .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    padding: 0px 70px;
    gap: 23px;
}

#section .item input[type="checkbox"]{
    width: 20px;
    height: 20px;
}



.content-main{
    padding: 50px 40px;
}
h1{
    font-size: 25px;
    color: #144E8C;     
}

.first{
    display: flex;
    gap: 460px;
    margin-bottom: 50px; 
}

.first img{
  width: 100%;
  height: auto;
}

.type{
    display: flex;
    gap: 20px;
}
.action2 {
  display: flex;
  justify-content: space-between; 
}

.search {
  display: flex;
  gap: 50px;
  align-items: center;
}

.search > div {
  display: flex;
  align-items: center; 
  margin-bottom: 30px;
}

.search img{
  border: 1px solid black; 
  height: 40px; 
  width: 40px; 
  padding: 5px; 
  border-top-left-radius: 5px;
  border-bottom-left-radius:5px ;
  object-fit: none;

  
}
.search input[type="text"]{
  width: 650px;
  height: 40px;
  font-size: 16px;
  border-top-right-radius: 5px;
  border-bottom-right-radius:5px ;
}

.search select {
  height: 40px; 
  width: 280px;
  font-size: 16px;
  color: #144E8C;
  border-top-right-radius: 5px;
  border-bottom-right-radius:5px ;
  

}

.search img,
.search input[type="text"],
.search select {
  border: none; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}





.product {
  display: flex;
  flex-wrap: wrap;
  gap: 50px; 
}

.sp{
  width: calc(33.333% - 50px); /* Chia đều 3 sản phẩm mỗi dòng và trừ đi khoảng cách giữa các sản phẩm */
  box-sizing: border-box;
  display: flex;
  border: 1px solid #ccc;
  flex-direction: column;
  flex: 1;     
  padding:  20px;
}

.sp h2{
  font-size: 20px;
  color: #2E3192;
}
.sp dc{
  color:#848484 ;
}
.sp h2,
.sp p,
.sp button{
  padding: 10px 20px;
}


.text{
  color: #848484;
}
.dc  { 
    font-size: 16px;
    color: #B6B6B6;
}

.button_click{
  width: 100%;
  height: 50px;
  display: flex; 
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: #2E3192;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: background-color 0.3s, color 0.3s; 
}
.button_click:hover{
  background-color: lightblue ;
  animation: shake 0.5s; 
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}




.pagination {
  display: flex;
  margin-top: 40px;
  align-items: end;
  text-align: right;
  float: right;
  
}

.pagination a, .pagination span {
  color: black;
  float: right;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: none;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #DADADA;
  color: white;
  border: 1px solid #DADADA;
  border-radius: 4px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 4px;
}


#footer{
  margin-top: 0px;
}


#header-mb, #action2-mb, #number-mb, .hidden, #select-mb{
  display: none;
}

@media (max-width: 767px) {
  *{
    box-sizing: border-box;
  }
  
  #header, #section ,.first , .action2, .divider, #number-page {
    display: none;
  }

  #header-mb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
  }
  
  #header-mb button,
  #header-mb .logo,
  #header-mb a {
    display: flex;
    align-items: center;
    height: 50px; 
    flex: 1;
  }
  
  #header-mb button {
    background: none; 
    border: none; 
    margin-left: 10px;
    justify-content: flex-start;
  }
  #header-mb a{
    justify-content: end;
  }
  #header-mb img {
    max-height: 100%; 
    max-width: 100%; 
    object-fit: contain;
  }
  
  #header-mb .logo img {
    max-height: 40px; 
  }


  #business-list {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    background-color: white;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 1000;
}

#business-list.visible {
    display: block;
}

#business-list h3 {
    margin-top: 0;
}

#business-list ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 0;
}

#business-list li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

#business-list input[type="checkbox"] {
    margin-right: 10px;
}

#close-list  {
  border: none;
  margin-bottom: 20px;
}

#select-mb{
  display: flex;
  justify-content: space-between;
}


#select-mb > div {
  display: flex; 
  margin-bottom: 40px;
}

.arrange img{
  border:  none;
  gap: 10px;
  width: 100%;
  height: auto;
  padding: 5px; 
  object-fit: none;
}

#select-mb select {
  width: 197px;
  height: 32px;
  font-size: 13px;
  border: 1px solid transparent; 
  border-radius: 5px;
}

.select-mb img,
.select-mb select
{
  border: none; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}


#number-mb {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 30px;
  padding: 20px 20px;
}


#number-mb a{
  color: black;
}

#banner{
  width: 100%;
  height: auto;
}



.content-main{
  width: 100%;
  height: auto;
}
.content-main .main {
  padding: 20px;

}

#product-container{
  flex-direction: column; 
} 

.product .sp{
  width: 100%;
  height: auto;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.number-page {
  width: 100%;
}


#action2-mb{
  display: flex;
  justify-content: space-between;
}


#action2-mb > div {
  display: flex; 
  margin-bottom: 20px;
}

#action2-mb img{
  width: 100%;
  height: auto;
  padding: 5px; 
  object-fit: none;
}

#action2-mb input[type="text"]{
  border: 1px solid transparent; 
}

.action2-mb img,
.action2-mb input[type="text"]
{
  border: none; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
  border: 1px solid transparent; 
}


.tuhoang {
  width: 100%;
  height: auto;
  
}



#footer{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 10px;
}



#footer .box1,
#footer .box2,
#footer .box3 {
  display: flex;
  flex-direction: column;  
  width: 100%;
  height: auto;
  align-items: center;
}

 
.logo1{
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  align-items: center;
}
.logo1 p{
  color: white;
  text-align: center;
  font-size: 10px;
}

.box2 .quick-menu,
.box3 .quick-menu{
  display: flex;
  flex-direction: column;
  
}

.box2 .quick-menu h4,
.box3 .quick-menu h4{
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.quick-menu .item{
  font-size: 13px;
}

}





/* tablet */
@media (min-width: 768px) and (max-width: 992px) {
  *{
    box-sizing: border-box;
  }
  
  #header, #section ,.first , .action2, .divider, #number-page  {
    display: none;
  }

  #header-mb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px; 
    text-align: center;
  }
  
  
  
  #header-mb button {
    background: none; 
    border: none; 
  }

  #header-mb img {
    max-height: 100%; 
    max-width: 100%; 
    object-fit: contain;
  }
  
  #header-mb .logo img {
    width: 100%;
    height: auto;
  }


  #business-list {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    background-color: white;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 1000;
}

#business-list.visible {
    display: block;
}

#business-list h3 {
    margin-top: 0;
}

#business-list ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 0;
}

#business-list li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

#business-list input[type="checkbox"] {
    margin-right: 10px;
}

#close-list  {
  border: none;
  margin-bottom: 20px;
}

#select-mb{
  display: flex;
  justify-content: space-between;
}


#select-mb > div {
  display: flex; 
  margin-bottom: 40px;
}

.arrange img{
  border:  none;
  gap: 10px;
  width: 100%;
  height: auto;
  padding: 5px; 
  object-fit: none;
}

#select-mb select {
  width: 197px;
  height: 32px;
  font-size: 13px;
  border: 1px solid transparent; 
  border-radius: 5px;
}

.select-mb img,
.select-mb select
{
  border: none; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}


#number-mb {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 30px;
  padding: 20px 20px;
}


#number-mb a{
  color: black;
}

#banner{
  width: 100%;
  height: auto;
}



.content-main{
  width: 100%;
  height: auto;
}

#product-container{
  display: flex;
} 



.product .sp{
  width: 100%;
  height: auto;
  align-items: center;
  text-align: center;
}

.number-page {
  width: 100%;
}


#action2-mb{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}


#action2-mb > div {
  display: flex; 
  margin-bottom: 20px;
}

#action2-mb img{
  width: 100%;
  height: auto;
  padding: 5px; 
  object-fit: none;
}

#action2-mb input[type="text"]{
  border: 1px solid transparent; 
}

.action2-mb img,
.action2-mb input[type="text"]
{
  border: none; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
  border: 1px solid transparent; 
}




#footer{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 10px;
}



#footer .box1,
#footer .box2,
#footer .box3 {
  display: flex;
  flex-direction: column;  
  width: 100%;
  height: auto;
  align-items: center;
}

 
.logo1{
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  align-items: center;
}
.logo1 p{
  color: white;
  text-align: center;
  font-size: 10px;
}

.box2 .quick-menu,
.box3 .quick-menu{
  display: flex;
  flex-direction: column;
  
}

.box2 .quick-menu h4,
.box3 .quick-menu h4{
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.quick-menu .item{
  font-size: 13px;
}
}

/* tablet */
@media (min-width: 991px) and (max-width: 1200px) {
  * {
    box-sizing: border-box;
  }

  #header, #section ,.first , .action2, .divider, #number-page  {
    display: none;
  }


  #header-mb {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #header-mb button,
  #header-mb .logo,
  #header-mb a {
    display: flex;
    align-items: center;
    height: 50px;
  }

  #header-mb button {
    background: none;
    border: none;
    margin-left: 10px;
  }

  #header-mb a {
    justify-content: flex-end;
  }

  #header-mb img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  #header-mb .logo img {
    max-height: 40px;
  }

  #first,
  #background,
  #third,
  #four,
  #fifth,
  #footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-inline: 30px;
  }

  #first .item img,
  #third .item img,
  #four .item img,
  #fifth .item img {
    width: 100%;
    height: 100%;
    padding: 0px 10px;
  }


  #first .item,
  #footer {
    display: flex;
    flex-direction: column;
  }

  #first .item button,
  #fifth .item button {
    margin-top: 30px;
  }

  #first.item-text {
    margin-top: 7px;
  }



  #fifth {
    align-items: center;
    text-align: center;
  }

  .item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .item h5 {
    margin-bottom: 10px;
  }

  .item hr {
    width: 100%;
    margin: 10px 0;
  }

  .item p {
    text-align: center;
    margin-bottom: 10px;
  }

  .item button {
    margin-bottom: 10px;
  }





  #footer {
    align-items: center;
    height: auto;
  }

  #footer .box {

    width: 100%;
    margin-top: 10px;
    padding: 60px 20px;
    text-align: center;
  }


  #footer .box .logo img {
    width: 150px;
  }

  .p-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }



  .p-container p {
    font-size: 13px;
  }

  #footer .box .quick-menu h4 {
    text-align: center;
  }

  #footer .box .quick-menu {
    align-items: center;
  }

  #footer .box .quick-menu .item,
  #footer .box .quick-menu .item a {
    justify-content: center;
  }



  #footer .box .quick-menu .item img {
    margin: 0 10px 0 0;
    width: 18px;
    height: 18px;
  }

  .item_input {
    width: 100%;
  }

  .item_input input {
    width: 100%;
  }

  .now {
    width: 100%;
    margin-top: 30px;
    max-width: 200px;
  }

  h2,
  h3,
  h5 {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    margin-left: 10px;
  }

  .box-left {
    width: 100%;
  }
}

/* Laptop */
@media (min-width: 1201px) and (max-width: 1530px) {
  #header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    gap: 20px;
  }

  #header .logo img {
    width: 80%;
    height: auto;
  }

  #menu {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
  }


  #menu .item a {
    font-size: 13px;
    color: #0d0e0d;
    text-decoration: none;
  }

  #action {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  #action .item button {
    color: white;
    width: 100px;
    height: 40px;
    background-color: #2e3192;
    font-size: 13px;
    border-radius: 30px;
  }

  #menu .item a:hover {
    background-color: #DADADA;
    border-radius: 5px;

  }



  .box-left {
    padding: 100px 10px;
  }

}

/* PC */
@media (min-width: 1531px) {


}