@import url(main.css);

#banner img {
  width: 100%;
  height: auto;
  margin-top: 50px;
}


#content1{
    padding: 20px 160px;
    height: auto;
    width: 100%;
    margin-top: 60px;
}

.first{
    width: 100%;
    height: auto;
    border: 1px solid #DADADA;
    background-color: #DADADA;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;  
}



.apply{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .apply .ap{
    width: 220px;
    height: 60px;
    border-radius: 5px
  }
  
  .ap {
    background-color: #2E3192;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
  }
  .ap:hover{
    background-color: red;
  }


  #content2{
    padding: 20px 200px;
    height: auto;
    width: 100%;
    margin-top: 20px;
}

h2,h3,h4{
    color: #2E3192;
}

h2{
    font-size: 30px;
    margin-bottom: 20px
}

h3,h4{
    font-size: 20px;
}

hr{
    margin-bottom: 30px;
    width: 160px;
    color: #144E8C;

}
.second{
    width: 100%;
    height: auto;
    border: 1px solid #DADADA;
    background-color: #DADADA;
    padding: 20px 30px;
    justify-content: space-between;
    border-radius: 10px;  
}

span{
    font-size: 20px;
    font-weight: bold;
}
.dc{
    display: flex;
    flex-direction: column;
}

.grid   {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}
.box .item{
    display: flex;
    gap: 20px;
}


#content3,
#content4,
#content5{
    padding: 10px 200px;
    height: auto;
    width: 100%;
}
#content5{
    display: flex;
    gap: 20px;
}

.ct3 , .ct4{
    width: 100%;
    height: auto;
    border: 1px solid #DADADA;
    background-color: #DADADA;
    padding: 20px 30px;
    justify-content: space-between;
    border-radius: 10px;  
}

.ct3 , .ct4 p{
    font-size: 16px;
}

.box-left,.box-right{
    width: 100%;
    height: auto;
    border: 1px solid #DADADA;
    background-color: #DADADA;
    padding: 20px 30px;
    justify-content: space-between;
    border-radius: 10px;  
}



